@page "{gameId:guid}/{success:bool?}"
@model SolveModel
@{
    ViewData["Title"] = "Solving Problem";
}

<div class="bg-secondary bg-opcity-10 py-2 mb-5">
    <div class="container">
        <h1 class="display-4">Now it is your turn...</h1>
    </div>
</div>

<div class="container">
    <form method="post">
        <div class="row mb-5">
            <div class="col d-flex justify-content-end">
                <input type="text" class="form-control-lg" id="term" asp-for="Term" readonly center-block
                data-bs-toggle="popover" data-bs-placement="left" data-html="true"
                data-bs-content="<div class='mb-1 d-flex justify-content-center'><span class='border border-dark rounded'><b class='m-2'>@Model.Pyramid!.Top</b></span></div><div class='row mb-1'><div class='col d-flex justify-content-end'><span class='border border-dark rounded'><b class='m-2'>@Model.Pyramid!.Left</b></span></div><div class='col d-flex justify-content-start'><span class='border border-dark rounded'><b class='m-2'>@Model.Pyramid!.Right</b></div></div></div>">
            </div>
            <div class="col d-flex justify-content-start">
                <input type="number" class="form-control-lg" id="solution" asp-for="Solution" autofocus center-block>
            </div>
        </div>

        <div class="mb-3 d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Check</button>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="progress">
                    <div class="progress-bar @(Model.Success ? "bg-primary" : "bg-danger")" style="width: @(Model.Achieved)%;">@Model.Points</div>
                </div>
            </div>
        </div>
    </form>
</div>

